.reserva {
	background-image: url('../img/reserva.png');
	position: absolute;
	left: 0;
	top: 230px;
	z-index: 1;
	margin-left: 18%; 
	margin-top: 1px;
}

#pontuacao{
    position: static;
    display: inline-block;
    right: 0px;
    top: 0px;
    font-size: 40px;

}

.fogo {
	background-image: url('../img/foco.gif');
	position: absolute;
	z-index: 2;
}

.caveiras{
	background-image: url('../img/caveira.gif');
	position: absolute;
	z-index: 3;
}

.devastacao_caveira{
	transform: scale(1.2);
	position: absolute;
}

.vidas {
	background-image: url('../img/arvore.png');
	width: 100px;
	height: 54px;
	margin-left: 9%;
	margin-top: 5%;
	display: inline-block;
}

.placar{
    justify-content: space-between;
    display: inline-block;
}