<h1>{{titulo}}</h1>

<img src="/img/jogo.jpg" alt="queimada" width="1280" height="600" style="margin-bottom:40px">

<br/>
<p>Nos últimos anos, as queimadas no Pantanal vêm aumentando significativamente por diversos motivos, dos quais os mais comum são as causas humanas, sejam acidentais, sejam criminosas. </p>

<p>Diante desse cenário alarmante, desenvolveremos o jogo Vigilantes da Floresta através da linguagem
JavaScript para conscientizarmos sobre tais atos.</p>

<p>É um simples jogo em que o jogador vigia uma determinada reserva florestal contra incêndios e outros males.</p>
